body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 163, 163);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(241, 233, 199);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(187, 18, 18);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.personal-info h1 {
    margin: 0;
    font-size: 28px;
    color: rgb(223, 149, 147);
}

.personal-info p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

button {
    background-color: rgb(231, 133, 218);
    color: rgb(7, 7, 7);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: rgb(148, 209, 151);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
